<plist version="1.0">
    <array>
        <string>随机分配</string>
        <string>1排</string>
        <string>2排</string>
        <string>3排</string>
        <string>4排</string>
        <string>5排</string>
        <string>6排</string>
        <string>7排</string>
        <string>8排</string>
        <string>9排</string>
        <string>10排</string>
        <string>11排</string>
        <string>12排</string>
        <string>12排</string>
        <string>14排</string>
        <string>15排</string>
        <string>16排</string>
        <string>17排</string>
        <string>18排</string>
        <string>19排</string>
        <string>20排</string>
        <string>21排</string>
        <string>22排</string>
        <string>23排</string>
        <string>24排</string>
        <string>25排</string>
        <string>26排</string>
        <string>27排</string>
        <string>28排</string>
        <string>29排</string>
        <string>30排</string>
        <string>31排</string>
        <string>32排</string>
        <string>33排</string>
        <string>34排</string>
        <string>35排</string>
        <string>36排</string>
        <string>37排</string>
        <string>38排</string>
        <string>39排</string>
        <string>40排</string>
        <string>41排</string>
        <string>42排</string>
        <string>43排</string>
        <string>44排</string>
        <string>45排</string>
        <string>46排</string>
        <string>47排</string>
        <string>48排</string>
        <string>49排</string>
        <string>50排</string>
    </array>
</plist>
